@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
section{
    position: relative;
    width:100% ;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top:0;
    left: 0;
    padding: 0 100px;
    display: flex;
    align-items: center;
    width: 1440px;
    height: 70px;
    justify-content: space-between;
    background: #ffa200;
    box-shadow: 0px 4px 4px #ffa200;
}

header .logo{
    position: relative;
    max-width: 100px;
    transition: 0.5s;
}
header .logo:hover{
    transform: translateY(-10px);
}
header ul{
    position: relative;
    display: flex;
   
}
header ul li{
    list-style: none;
    color: #ffffff;
    transition: 0.5s;

  
}
header ul li:hover{
    transform:translateY(-3px);
   
}
header ul li a{
    color: #000000;
    font-weight: 400;
   padding-left: 50px;
  text-decoration: none;
}


.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;

    
}
.content .textbox h2{
    color:black;
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: 500;
    overflow: hidden;
}
.content .textbox h2 span{
    color:#da790a;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    animation: typing 4s steps(14) infinite;
}
@keyframes typing{
0%,90%,100%{
    width:0;
}
30%,60%{
    width:487.27px;
}
}
.content .texthuge:before{
 content: "";
 position:relative;
top: 0;
left: 0;
width: 2px;
height: 100%;
    border: 2px solid #da790a;
    animation: blinkCursor 0.8s steps(3) infinite;
    background:#da790a;

}
@keyframes blinkCursor{
   0%,75%{
    opacity: 1;
   }
   76%,100%{
    opacity: 0;
   }
}
.content .textbox p{
    color:#333;

}


 .content .textbox a {
   display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #da790a;
    color: #ffffff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
   transition: 0.5s;
    -webkit-box-reflect:below 1px linear-gradient(transparent,#ffffff) ;
}
.content .textbox a:hover{
    background-color: #000000;
}




.content .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgbox img{
    max-width: 325px;
    transition: 0.5s;
}
.content .imgbox img:hover{
    transform: translateY(-15px);
}
.thumb{
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-box-reflect:below -40px linear-gradient(transparent,#e7e7e7) ;
}
.thumb li:hover{
    transform: translateY(-15px);
   
}
.thumb li img{
    max-width: 60px;
} 


.sci{
    position: absolute;
    top: 50%;
    right:30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);

}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #da790a;
    clip-path: circle(600px at right 800px);
}



.nav-text:hover {
    color: #ffffff;
    transition: 0.5s;
}


@media only screen and (max-width:900px){
    
    header{
        padding: 0 50px;
    }
    header .logo{
        max-width: 60px;
    }
 
   
  
    section{
        padding: 20px 20px 120px;
    }
    .content{
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textbox{
        max-width: 100%;
    }
    .content .imgbox{
        max-width: 100%;
        justify-content: center;
    }
    .content .imgbox img{
        max-width: 300px;
    }
    .thumb li img{
        max-width: 40px;
    }
    .circle{
        clip-path: circle(400px at center bottom) ;
    } 
    .sci{
        background-color: #da790a;
        right: 0;
        width: 50px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
    }

}
@media only screen and (max-width:900px){
    header{
        padding: 0 30px;
    }
}